<html>
<head><title> {{title}} </title>
	<title> {{page_title}}</title>
</head>
<body>

    <h1> Members of Congress </h1>
    <h2> Number of Members: {{membernum}}</h2>

    {% for item in members %}
	    <h3> Name: {{item}} </h3>
        <p> Date of Birth: {{members[item]['dob']}}</p>
	    <p> Party: {{members[item]['party']}} </p>
        <p> Gender: {{members[item]['gender']}}</p>
        <p> Member ID: {{members[item]['id']}}</p>
        <p> State: {{members[item]['state']}}</p>
        <p> Rank: {{members[item]['rank']}}</p>
        <p> Percentage of Votes with Party: {{members[item]['withparty_pct']}}%</p>
        <p> Percentage of Votes Against Party: {{members[item]['againstparty_pct']}}%</p>
    {% endfor %}

	<form action="/" method="post" id="memeberinput">
	<label for="member">Please enter a name to search for a congress member</label>
	<input type="text" id="member" name="member" />
	</form>

    <form action="/" method="post" id="congressinput">
	<label for="congress">Please enter which Congress to search (102-116 for House, 80-116 for Senate):</label>
	<input type="text" id="congress" name="congress" />
	</form>

    <form action="/" method="post" id="chamberinput">
	<label for="chamber">Please enter a chamber type (House or Senate):</label>
	<input type="text" id="chamber" name="chamber" />
		<button type="submit" value="Search">Submit</button>
	</form>

	<h3> Member searched is {{member}} </h3>
<!--	{% for item in data %}-->
<!--	    <h3> Search Results for: {{item}} </h3>-->
<!--        <p> Date of Birth: {{data[item]['dob']}}</p>-->
<!--	    <p> Party: {{data[item]['party']}} </p>-->
<!--        <p> Gender: {{data[item]['gender']}}</p>-->
<!--        <p> Member ID: {{data[item]['id']}}</p>-->
<!--    {% endfor %}-->


</body>
</html>